.formContainer{
    display: flex;
    justify-content: center; /* centers horizontally */
    margin: 0;
    margin-top: 1.5rem;
    border: 2px solid #C0C6FF;
    border-radius: 16px;
    
}

.createForm{
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 2rem;
    align-items:center;
}

.createForm label {
  display: block;   
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
}