.formContainer{
    display: flex;
    justify-content: center; /* centers horizontally */
    margin: 0;
    margin-top: 1.5rem;
    
}

.Form{
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
    padding: 2rem;
    align-items:center;
    border: 2px solid #C0C6FF;
    border-radius: 16px;
}

.Form label {
  display: block;   
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
}
.formContainer input,
.formContainer textarea {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.Form button {
  background-color: #7C81AE; /* main background */
  color: #fff;               /* white text */
  border: 2px solid #C0C6FF; /* border color */
  padding: 10px 20px;        /* size */
  border-radius: 6px;        /* rounded corners */
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease; /* smooth hover animation */
}

/* Hover effect */
.Form button:hover {
  background-color: #6c71a0; /* slightly darker on hover */
  border-color: #aeb3e8;     /* slightly darker border */
}


.Form button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(192, 198, 255, 0.5);
}
