body {
  padding-top: 0;
  background-color: #222759;
  font-family: Arial, Helvetica, sans-serif;
  color:#C0C6FF;
  margin:0;
  padding:0;
  font-weight:600;
}
button {
  text-transform: uppercase;
}

.topnav {
  background-color: #7C81AE;
  overflow: hidden;
  border-bottom: 5px solid #C0C6FF
}


.navlink {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}
.navlink:hover{
  background-color: #222759;
  color:white;
}